<div class="container mt-5">
  <div class="d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i> {{ username }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/admin/profile">Perfil</a>
        <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
      </div>
    </div>
  </div>
  <h1>Página de Inicio del Distribuidor</h1>
  <p>Bienvenido a la página de inicio del distribuidor.</p>
  <a class="btn btn-primary" routerLink="/distribuidor-pedidos">Ver Pedidos Pendientes</a>

</div>