<button
  type="button"
  class="hidden"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#' + idModal"
  id="modalPublicar"
  #modalPublicar
  style="display: none;"
>
  Modal
</button>

<div
  class="modal fade"
  [id]="idModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 *ngIf="title !== ''" class="modal-title">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="tipo === 1">
          <div *ngFor="let distribuidor of distribuidores">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ distribuidor.nombre }} {{ distribuidor.apellido }}</h5>
                <p class="card-text">Dirección: {{ distribuidor.direccion }}</p>
                <p class="card-text">Teléfono: {{ distribuidor.telefono }}</p>
                <p class="card-text">Email: {{ distribuidor.email }}</p>
                <button class="btn btn-primary" (click)="Selectdistribuidor(distribuidor)">
                  Seleccionar
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
