<div class="container mt-5">
    <h2>Pedidos Pendientes</h2>
    <div *ngFor="let pedido of pedidos" class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
            <p class="card-text">Cliente: {{ pedido.Cliente?.nombre }}</p>
            <p class="card-text">Fecha de Solicitud: {{ pedido.fecha | date:'short' }}</p>
            <h6>Detalles del Pedido:</h6>
            <ul>
                <li *ngFor="let detalle of pedido.DetallePedidos">
                    {{ detalle.ProductoDistribuidor.Producto.nombre }} - {{
                    detalle.ProductoDistribuidor.Presentacion.nombre }}: {{ detalle.cantidad }} unidades a ${{
                    detalle.total / detalle.cantidad }}
                </li>
            </ul>
            <button class="btn btn-success me-2"
                (click)="actualizarEstadoPedido(pedido.id_pedido, 'Aceptar')">Aceptar</button>
            <button class="btn btn-danger"
                (click)="actualizarEstadoPedido(pedido.id_pedido, 'Rechazar')">Rechazar</button>
        </div>
    </div>
</div>